.App {
  text-align: center;
  font-family: 'Mercury Ssm A', 'Mercury Text G2', 'Georgia', serif;
}

.App button {
  background: white;
  border: 2px solid #cf1616;
  border-radius: 4px;
  padding: 1em;
  font-family: 'Founders Grotesk Condensed';
  text-transform: uppercase;
  font-size: 18px;
  box-shadow: 2px 2px 5px black;
}
.App button:hover {
  background: rgba(207, 16, 16, 0.1);
}
.App button:active {
  box-shadow: inset 0 0 5px black;
}
.App button:focus {
  outline: 0;
  border: 1px solid #cf1616;
}
.App .number {
  font-family: 'Founders Grotesk Condensed';
  font-size: 14px;
}
