.Scenario ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.Scenario li {
	margin: 0;
	display: inline-block;
	width: 75%;
	padding: 0.75em;
}
.Scenario .image img {
	width: 150px;
}
.Scenario .photo-credit {
	color: #ccc;
	font-size: 10px;
}
.Scenario button {
	width: 100%;
	display: inline-block;
	text-transform: none;
	padding: 1em;
}
